
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;500;600;700&display=swap');


:root{
    --mainFont :'Roboto Mono', monospace;
    --fontBold:700;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:400;
    --fontLight:300;

    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

li{
    list-style: none;
}

body{
    font-family:var(--mainFont);
    font-size: 1.1rem;
    font-weight: 200;
    background-color: slategray;
    height: 100vh;
    background-size: cover;
    color: rgb(0, 0, 0);
}


.flex{
    display: flex;
    /* flex-direction: column; */
    
}


.flex .flex-item{
    background-color: rgb(205, 90, 90);
    padding: 1rem;
    border: 1px solid;
    margin-left: 1rem;
}




.grid{
    display: grid;
    grid-template-columns: repeat(3,1fr );
    gap: 1rem;
}



.grid-item{
    background-color: rgb(252, 255, 56);
    padding: 1rem;
}