@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barlow:400,500,700');


:root{
    --mainFont :'Montserrat', sans-serif;
    --fontBold:700;
    --fontSemi:600;
    --fontMedium:500;
    --fontRegular:400;
    --fontLight:300;

    
}


*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    flex: 1 1 auto;
    
}

li{
    list-style: none;
}

html{
    font-size:62.5% ;
}

body{
    font-family: 'Barlow', sans-serif;
    background-color: rgb(222, 239, 255);
}


h2{
    font-size:3rem;
}

h3{
    font-size:2.5rem;
}

p{
    font-size: 2rem;
    
}

header{
    padding: 0rem 5rem;
}

.food-gallery{
    display: flex;
    flex-wrap: wrap;
}


.food-gallery img{
    width: 100%;
    border-radius: 1rem;
    
}


.photo-frame {
    width: 300px;
    /* height: 500px; */
    border: 1px solid;
    border-radius: .5rem;
    position: relative;
    margin: 1rem;
    overflow: hidden;
}


.food-description{
    display: none;
    position: absolute;
    width: 300px;
    top: 0%;
    
}


.photo-frame:hover .food-description{
    display: block;
    background:linear-gradient(rgba(102, 0, 197, 0.39), rgba(186, 7, 209, 0.644) ,rgba(98, 5, 185, 0.575)) ;
    height: 100%;
    width: 100%; 
   
}

.food-description h3{
    background: rgb(0, 0, 0);
    color: #fff;
    text-align: center;
    margin-top: 1rem;
}


.food-description p{
    padding: 1rem;
}

.photo-frame:hover .food-img{
   transform: scale(1.2);
   transition:transform  0.5s ease-in-out ;
   cursor: pointer;
}
 